<div class="bg-gradient-to-br from-yellow-100 to-pink-200 py-16">
  <%= image_tag "pojihome_logo.png", alt: "ポップなポジほめワードロゴ", class: "mx-auto h-24 w-auto" %>
  <h1 class="mt-6 text-center text-5xl font-bold tracking-tight">
    <span class="text-green-500">ポジ</span>
    <span class="text-yellow-500 align-top">ほめ</span>
    <span class="text-red-600">ワード</span>
  </h1>
  <p class="mt-2 text-center text-lg text-gray-700">
    ポジティブな言葉を見つけて、さらに心豊かな毎日へ！
  </p>
</div>

<div class="max-w-screen-lg mx-auto bg-white shadow-lg overflow-hidden">
  <% if user_signed_in? %>
    <div class="text-center mt-8 space-y-4">
      <h2 class="text-2xl font-semibold text-gray-800">
        こんにちは！<%= current_user.username %> さん
      </h2>
      <h4 class="text-lg text-gray-600">
        <%= current_user.email %>
      </h4>
      <%= link_to "サンプルを見る", positive_words_path, class: "inline-block bg-yellow-400 hover:bg-yellow-500 text-white font-semibold py-4 px-12 rounded-full shadow-md text-lg" %>
    </div>

    <%= render partial: 'tops/card_features', locals: { signed_in: true } %>
  <% else %>
    <div class="text-center py-16">
      <h3 class="text-3xl font-semibold text-gray-800 mb-8">
        ポジティブな言葉を見つけて、さらに心豊かな毎日へ！
      </h3>
      <p class="text-gray-600 text-lg mb-12">
        こんなときはありませんか？<br>
        ちょっと落ち込んだとき、誰かを励ましたいとき、<br>
        頑張った自分をねぎらいたいとき——<br>
        あなたの毎日を彩る、ポジティブな言葉との出会いがきっと見つかるはず。さあ、一緒に探してみよう！
      </p>

      <%= link_to "ログインして始める", new_user_session_path, class: 'inline-block text-lg font-medium text-white bg-indigo-400 hover:bg-indigo-500 px-8 py-4 rounded-full shadow-md' %>
      <p class="mt-6 text-lg text-gray-600">まずはどんな言葉があるか見てみよう！</p>
      <%= link_to "サンプルをチェック", positive_words_path, class: "inline-block bg-yellow-400 hover:bg-yellow-500 text-white font-semibold py-4 px-12 rounded-full shadow-md mt-4 text-lg" %>

      <%= render partial: 'tops/card_features', locals: { signed_in: false } %>

      <div class="mt-12 text-sm text-gray-500">
        または
        <%= render "devise/shared/links",
              resource_name: :user,
              devise_mapping: Devise.mappings[:user],
              resource_class: User %>
      </div>
    </div>
  <% end %>
</div>
