<div class="w-full py-20 text-center flex flex-col items-center space-y-6 bg-gradient-to-b from-pink-200 to-yellow-50">
  <%= image_tag "pojihome_title.png", alt: "ポジほめワードタイトル", class: "max-w-md h-auto w-full mx-auto" %>
  <p class="mt-2 text-xl text-gray-700 leading-relaxed">
    誰かを励ましたり、自分を勇気づけたり...<br>
    あなたの心を彩る、ポジティブな言葉と出会おう。 
  </p>

  <div class="flex space-x-4 justify-center mt-4">
    <!-- LINEシェア -->
    <a href="https://social-plugins.line.me/lineit/share?url=<%= ERB::Util.url_encode(root_url) %>"
       target="_blank" rel="noopener" class="text-white hover:text-white">
      <img 
        src="<%= asset_path('btn_base.png') %>" 
        alt="LINEでシェア" 
        style="height: 28px;" 
        onmouseover="this.src='<%= asset_path('btn_hover.png') %>'" 
        onmouseout="this.src='<%= asset_path('btn_base.png') %>'" />
    </a>

    <!-- X（旧Twitter）シェア -->
    <%= link_to "https://twitter.com/share?url=#{ERB::Util.url_encode(root_url)}",
              target: '_blank',
              rel: 'noopener',
              class: "text-black hover:text-gray-500 text-2xl" do %>
    <i class="bi bi-twitter-x"></i>
    <% end %>
  </div>

  <div class="flex flex-col items-center space-y-4 mt-6">
    <% if !user_signed_in? %>
      <%= link_to "ログインして始める", new_user_session_path, class: 'inline-block text-lg font-medium text-white bg-indigo-300 hover:bg-indigo-400 px-6 py-3 min-w-[200px] rounded-full shadow-md' %>
      <div class="text-sm text-gray-500">
        または
        <%= render "devise/shared/links",
            resource_name: :user,
            devise_mapping: Devise.mappings[:user],
            resource_class: User %>
      </div>
    <% end %>

    <%= link_to "まずはサンプルをチェック", positive_words_path, class: "inline-block bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-3 px-8 min-w-[200px] rounded-full shadow-md text-lg" %>
  </div>

</div>


<section class="py-16 bg-white">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8 text-center">
    <h2 class="text-3xl font-semibold text-gray-800 mb-8"><i class="bi bi-stars text-yellow-500 mr-2"></i>こんなあなたにおすすめ</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-6 md:px-12 lg:px-24">
      <div class="bg-yellow-50 p-6 rounded-lg shadow-md">
        <i class="bi bi-emoji-smile text-yellow-400 text-4xl mb-4"></i>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">ポジティブな気持ちになりたい</h3>
        <p class="text-gray-600">
          心温まる言葉が、</br>
          あなたの気持ちを明るくします。
        </p>
      </div>
      <div class="bg-pink-50 p-6 rounded-lg shadow-md">
        <i class="bi bi-heart-fill text-pink-400 text-4xl mb-4"></i>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">大切な人を励ましたい</h3>
        <p class="text-gray-600">
          心に響く言葉で、</br>
          大切な人を元気づけましょう。
        </p>
      </div>
      <div class="bg-green-50 p-6 rounded-lg shadow-md">
        <i class="bi bi-lightbulb-fill text-green-400 text-4xl mb-4"></i>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">新しい視点を発見したい</h3>
        <p class="text-gray-600">
          ポジティブな言葉から、</br>
          新たな気づきが得られるかも。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-16 bg-yellow-50">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8 text-center">
    <h2 class="text-3xl font-semibold text-yellow-600 mb-8"><i class="bi bi-magic text-yellow-400 mr-2"></i>ポジほめワードでできる３つのこと</h2>
    <%= render partial: 'top/card_features', locals: { signed_in: user_signed_in? } %>
  </div>
</section>

<div class="mt-6 text-center space-y-2">
  <%= link_to 'お問い合わせ', new_contact_path, class: 'text-gray-500 text-lg block hover:text-gray-700 hover:underline' %>
  <%= link_to '利用規約', page_path('term_of_service'), class: 'text-gray-500 text-lg block hover:text-gray-700 hover:underline' %>
  <%= link_to 'プライバシーポリシー', page_path('policy'), class: 'text-gray-500 text-lg block hover:text-gray-700 hover:underline' %>
  <p class="text-gray-500 text-lg">Copyright © 2025 ポジほめワード. All rights reserved.</p>
</div>
