<% set_meta_tags title: t('.resend_confirmation_instructions') %>
<div class="flex items-center justify-center px-4">
  <div class="mt-20 max-w-3xl w-full bg-white rounded-2xl shadow-lg overflow-hidden p-8">
    <h2 class="text-center text-2xl sm:text-3xl font-semibold tracking-tight text-blue-600 mb-6">
      <%= t('.resend_confirmation_instructions') %>
    </h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :email, class: "block text-lg sm:text-xl font-medium text-gray-700" %>
        <%= f.email_field :email, placeholder: "example@example.com",
                      autofocus: true,
                      autocomplete: "email",
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                      class: "mt-2 block w-full rounded-full bg-white px-4 py-3 text-base text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>

      <div>
        <%= f.submit t('.resend_confirmation_instructions'), class: "w-full flex justify-center rounded-full bg-blue-500 px-4 py-3 text-base font-semibold text-white shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>
    <% end %>

    <div class="mt-2 text-center text-base sm:text-lg text-gray-600">
      <%= render "devise/shared/links" %>
    </div>     
  </div>
</div>