<div id="comment-<%= comment.id %>" class="w-full">
  <turbo-frame id="comment-form-<%= comment.id %>" class="block w-full">
    <div class="w-full mt-4 py-4 px-6 mb-2 bg-white border border-gray-300 rounded-xl shadow-sm flex items-start gap-x-4 text-gray-800">
      <div class="flex-grow">
        <h3 class="text-lg font-bold text-pink-500 mb-1"><%= comment.user.username %></h3>
        <p class="text-xl font-bold leading-relaxed text-gray-900"><%= simple_format(comment.body) %></p>
      </div>

      <% if current_user.own?(comment) %>
        <div class="flex gap-3 items-center">
          <%= link_to edit_comment_path(comment), class: "text-sm text-gray-700 hover:underline edit-comment-button", data: { turbo_frame: "comment-form-#{comment.id}" } do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>

          <%= link_to comment_path(comment), class: "text-red-600 hover:underline delete-comment-button", data: { turbo_method: :delete, turbo_confirm: "削除しますか" } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </turbo-frame>
</div>
