<% content_for :title, "パスワードのリセット" %>

<div class="sm:mx-auto sm:w-full sm:max-w-lg">
  <h2 class="mt-10 text-center text-3xl font-bold tracking-tight text-gray-900">パスワードをお忘れですか？</h2>
</div>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="text-xl font-medium text-gray-900">
      <%= f.label :email, "登録したメールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 focus:outline-indigo-600" %>
    </div>

    <div class="mt-6">
      <%= f.submit "パスワードリセットの指示を送信", class: "flex w-full justify-center rounded-md bg-indigo-600 px-4 py-2 text-base font-semibold text-white shadow-xs hover:bg-indigo-500 focus:outline-2 focus:outline-indigo-600" %>
    </div>
  <% end %>
</div>

<div class="mt-4 text-center text-lg text-gray-500">
<%= render "devise/shared/links" %>
</div>