<%= form_with model: @positive_word, url: ai_messages_generate_path, method: :post, class: 'space-y-6', local: true do |f| %>
    <div>
      <%= f.label :target, 'ðŸ’Œ èª°ã«é€ã‚Šã¾ã™ã‹ï¼Ÿ', class: 'block mb-2 text-lg font-medium text-gray-700' %>
      <%= f.text_field :target, value: @target, placeholder: "ä¾‹ï¼šå‹é”ã€å®¶æ—ã€è‡ªåˆ†", class: "w-full p-4 rounded-full border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-300" %>
    </div>
  
    <div>
      <%= f.label :situation, 'ðŸŒˆ ã©ã‚“ãªæ™‚ï¼Ÿ', class: 'block mb-2 text-lg font-medium text-gray-700' %>
      <%= f.text_field :situation, value:  @situation, placeholder: "ä¾‹ï¼šè¤’ã‚ãŸã„æ™‚ã€å¿œæ´ã—ãŸã„æ™‚", class: "w-full p-4 rounded-full border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-300" %>
    </div>
  
    <div>
      <%= f.submit 'ãƒ¯ãƒ¼ãƒ‰ã‚’ä½œã‚‹', class: "w-full bg-red-400 hover:bg-red-500 text-white font-semibold py-3 px-8 rounded-full shadow-md focus:outline-none focus:ring-2 focus:ring-pink-300 cursor-pointer" %>
    </div>
  <% end %>