<%= form_with model: @positive_word, url: ai_messages_generate_path, method: :post, class: 'space-y-6', id: "ai-message-form", local: true do |f| %>

  <div>
    <%= f.label :target, '誰に送りますか', class: 'block mb-2 text-lg font-medium text-gray-700' %>
    <%= f.text_field :target, value: @target, autofocus: true, placeholder: "例：友達、家族、自分", class: "w-full p-4 rounded-full border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-300" %>
  </div>

  <div>
    <%= f.label :situation, 'どんな時', class: 'block mb-2 text-lg font-medium text-gray-700' %>
    <%= f.text_field :situation, value: @situation, placeholder: "例：褒めたい時、応援したい時", class: "w-full p-4 rounded-full border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-300" %>
  </div>

  <div>
    <%= f.submit 'ワードを作る', class: "w-full bg-red-400 hover:bg-red-500 text-white font-semibold py-3 px-8 rounded-full shadow-md focus:outline-none focus:ring-2 focus:ring-pink-300 cursor-pointer", id: "submit-button" %>
  </div>

  <div id="full-page-loading" class="hidden fixed inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center z-50">
    <div class="animate-spin rounded-full h-20 w-20 border-8 border-t-8 border-pink-400 border-opacity-75 mb-6"></div>
    <p id="loading-message" class="text-white text-2xl font-medium"></p>
    <p class="text-white text-md mt-2">あなただけのポジティブワードを生成中...</p>
  </div>
<% end %>