<h3 class="text-center text-xl font-semibold text-yellow-700 py-4">
  カスタムワード: <span class="text-yellow-500"><%= @custom_words.count %></span> 個
</h3>
<ul class="mb-8 space-y-2  text-gray-700">
  <% words.each do |word| %>
    <li class="py-2 px-4 bg-white hover:bg-blue-50 text-gray-800 rounded-xl shadow-sm font-semibold leading-relaxed flex items-center justify-between gap-x-2 flex-wrap">
      <%= word.word %>

      <div class="flex items-center  gap-x-2">
        <%= link_to edit_userpage_path(word), class: "text-gray-500 hover:text-yellow-600" do %>
          <i class="bi bi-pencil-fill"></i>
        <% end %>
        <%= button_to userpage_path(word), method: :delete, form: { data: { turbo: false } }, class: "text-red-600 hover:text-red-800" do %>
          <i class="bi bi-trash-fill"></i>
        <% end %>
        <i class="bi bi-copy ml-2 text-blue-500 hover:text-blue-700 cursor-pointer copy-button" data-word="<%= word.word %>"></i>
      </div>
    </li>
  <% end %>
</ul>