<%= turbo_stream.remove(".custom-word-#{@custom_word.id}") %>

<%= turbo_stream.replace "custom_words_frame" do %>
  <%= turbo_frame_tag "custom_words_frame" do %>
    <div id="custom_words">
      <%= render partial: "userpages/custom_words/word_section_with_pagination", locals: { words: @custom_words_page } %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "word_counts" do %>
  <%= render partial: "userpages/header", locals: {
    known_word_count: @known_word_count,
    favorited_words_count: @favorited_words_count,
    custom_words_count: @custom_words_count
  } %>
<% end %>