<%= content_for :title, "ユーザーページ" %>

<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
  <h2 class="text-center text-3xl font-semibold text-yellow-600 mb-8">
    <%= current_user.username %> さんのページ
  </h2>

  <h3 class="mt-6 text-center text-6xl font-semibold text-gray-700 mb-4">
    これまでに知ったワードの合計: <span class="text-pink-500"><%= @known_word_count %></span> 個
  </h3>

  <%= render 'search', q: @q %>

<div class="flex justify-center space-x-4 p-4">
  <button data-tab="all" class="tab-button bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-full">すべて</button>
  <button data-tab="custom" class="tab-button bg-pink-400 hover:bg-pink-500 text-white font-bold py-2 px-4 rounded-full">カスタム</button>
  <button data-tab="favorite" class="tab-button bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-full">お気に入り</button>
</div>

  <div class="mt-6">
    <%= render 'new' %>
  </div>

  <div data-tab-content="all" class="<%= 'hidden' unless @active_tab == 'all' %>">
  <% if @custom_words.present? %>
    <%= render 'custom_words_section', words: @custom_words_page %>
    <%= paginate @custom_words_page, param_name: :custom_page, params: { tab: 'all' } %>
  <% end %>

  <% if @favorited_words.present? %>
    <%= render 'favorited_words_section', words: @favorited_words_page %>
    <%= paginate @favorited_words_page, param_name: :favorited_page, params: { tab: 'all' } %>
  <% end %>

    <% if @custom_words.blank? && @favorited_words.blank? %>
    <p class="text-center text-lg text-gray-600 py-8">登録されたワードはありません</p>
  <% end %>
</div>

<div data-tab-content="custom" class="<%= 'hidden' unless @active_tab == 'custom' %>">
  <% if @custom_words.present? %>
    <%= render 'custom_words_section', words: @custom_words_page %>
    <%= paginate @custom_words_page, param_name: :custom_page, params: { tab: 'custom' } %>
  <% else %>
    <p class="text-center text-lg text-gray-600 py-8">カスタムワードはありません</p>
  <% end %>
</div>

<div data-tab-content="favorite" class="<%= 'hidden' unless @active_tab == 'favorite' %>">
  <% if @favorited_words.present? %>
    <%= render 'favorited_words_section', words: @favorited_words_page %>
   <%= paginate @favorited_words_page, param_name: :favorited_page, params: { tab: 'favorite' } %>
  <% else %>
    <p class="text-center text-lg text-gray-600 py-8">お気に入り登録はありません</p>
  <% end %>
</div>
 

  <div class="mt-8 space-y-4">
    <%= link_to "トップページに戻る", root_path, class: 'block text-center text-lg font-semibold text-blue-500 hover:text-blue-700 hover:underline' %>
    <%= link_to "ポジティブワードを作ろう", new_ai_message_path, class: 'block text-center text-lg font-semibold text-blue-500 hover:text-blue-700 hover:underline' %>

    <div class="flex justify-center space-x-4 mt-6">
      <%= link_to "アカウントを編集する", edit_user_registration_path, class: 'text-sm sm:text-base font-medium text-white bg-indigo-500 hover:bg-indigo-600 px-6 py-3 rounded-full shadow-md' %>
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'text-sm font-medium text-white bg-red-500 hover:bg-red-600 px-6 py-3 rounded-full shadow-md' %>
    </div>
  </div>
</div>

