<% set_meta_tags title: "ユーザーページ" %>
<div class="flex items-center justify-center px-4">
  <div class="mt-20 max-w-3xl w-full bg-yellow-50/50 rounded-2xl shadow-lg overflow-hidden">
    <div class="bg-amber-100 py-4 px-6 rounded-t-2xl border-b border-yellow-200 mb-4">
      <div class="flex justify-center space-x-2 mt-4 mb-4">
        <div class="text-yellow-700 bg-yellow-200 text-md font-semibold px-4 py-2 rounded-full shadow-sm flex items-center">
          <i class="bi bi-journals mr-2"></i> ためる
        </div>
        <%= link_to page_path('how_to_use/userpages'), rel: "noopener", class: "text-yellow-700 hover:text-yellow-800 flex items-center", title: "ユーザーページの使い方" do %>
          <i class="bi bi-question-circle-fill text-xl"></i>
        <% end %>
      </div>

      <div class="mb-4 space-x-2">      
        <h1 class="text-2xl font-bold text-yellow-700 text-center">
          <%= current_user.username %> さんのページ
        </h1> 
      </div> 
     
      <p class="text-md text-gray-700 text-center">  
        あなただけの「ワード集」を作成・管理
      </p>        
    </div>

    <%= render 'search', q: @q, autocomplete_url: autocomplete_userpages_path %>

    <div class="mb-2 px-4" id="word_counts">
      <%= render partial: "userpages/header", locals: {
        known_word_count: @known_word_count,
        favorited_words_count: @favorited_words_count,
        custom_words_count: @custom_words_count
      } %>
    </div>

    <div class="p-6">
      <div class="flex border-b border-gray-400 mb-6 mt-2">
        <button class="px-4 py-2 text-md font-medium text-gray-700 border-b-2 border-transparent hover:border-yellow-500 <%= 'border-yellow-500 text-yellow-700' if params[:filter].blank? || params[:filter] == 'all' %>" onclick="location.href='<%= userpages_path(filter: 'all') %>'">すべて</button>
        <button class="px-4 py-2 text-md font-medium text-gray-700 border-b-2 border-transparent hover:border-red-500 <%= 'border-red-500 text-red-700' if params[:filter] == 'favorite' %>" onclick="location.href='<%= userpages_path(filter: 'favorite') %>'">お気に入り</button>
        <button class="px-4 py-2 text-md font-medium text-gray-700 border-b-2 border-transparent hover:border-yellow-500 <%= 'border-yellow-500 text-yellow-700' if params[:filter] == 'custom' %>" onclick="location.href='<%= userpages_path(filter: 'custom') %>'">カスタム</button>
      </div>

      <% if params[:filter].blank? || params[:filter] == "all" %>
        <div class="mt-6 bg-pink-50 rounded-md p-4">
          <h3 class="flex justify-between items-center text-center text-2xl font-semibold text-pink-600 mt-2 mb-4">
            <span>お気に入りのワード</span>
          </h3>
          <%= render 'favorited_words_section', words: @favorited_words_page %>
          <%= paginate @favorited_words_page, param_name: :favorited_page %>
        </div>
      
        <div class="flex border-b border-gray-400 mb-6 mt-6">
        </div>
      
        <div class="mt-6 bg-yellow-100 rounded-md p-4 ">
          <div class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
            <h3 class="text-2xl font-semibold text-yellow-700 mb-2 sm:mb-0">
              カスタムワード
            </h3>

            <div class="w-full sm:w-auto sm:ml-auto">
              <%= link_to new_userpage_path, class: 'inline-flex text-lg font-medium text-white bg-yellow-400 hover:bg-yellow-500 px-4 py-1 mb-4 rounded-full shadow-md transition duration-200 w-full sm:w-auto justify-center' do %>
                <i class="bi bi-plus mr-1"></i> 作成
              <% end %>
            </div>
          </div>
          <%= turbo_frame_tag "custom_words_frame" do %>
            <div id="custom_words">
              <%= render partial: "userpages/custom_words/word_section_with_pagination", locals: { words: @custom_words_page } %>
            </div>
          <% end %>
        </div>

      <% elsif params[:filter] == "custom" %>
        <div class="mt-6 bg-yellow-100 rounded-md p-4">
          <div class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
            <h3 class="text-2xl font-semibold text-yellow-700 mb-2 sm:mb-0">
              カスタムワード
            </h3>

            <div class="w-full sm:w-auto sm:ml-auto">
              <%= link_to new_userpage_path, class: 'inline-flex text-lg font-medium text-white bg-yellow-400 hover:bg-yellow-500 px-4 py-1 mb-4 rounded-full shadow-md transition duration-200 w-full sm:w-auto justify-center' do %>
                <i class="bi bi-plus mr-1"></i> 作成
              <% end %>
            </div>
          </div>
          <%= turbo_frame_tag "custom_words_frame" do %>
            <div id="custom_words">
              <%= render partial: "userpages/custom_words/word_section_with_pagination", locals: { words: @custom_words_page } %>
            </div>
          <% end %>
        </div>

      <% elsif params[:filter] == "favorite" %>
        <div class="mt-6 bg-pink-50 rounded-md p-4">
          <h3 class="flex justify-between items-center text-center text-2xl font-semibold text-pink-700 mt-2 mb-4">
            <span>お気に入りのワード一覧</span>
          </h3>
          <%= render 'favorited_words_section', words: @favorited_words_page %>
          <%= paginate @favorited_words_page, param_name: :favorited_page %>
        </div>
      <% end %>
    </div>      
  </div>
</div>