<% set_meta_tags title: "ワード詳細" %>

<div id="positive-word-id-<%= @positive_word.id %>">
  <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <div class="p-6">
      <h3 class="text-2xl font-semibold text-red-400 text-center mb-6">ワード詳細</h3>

      <h4 class="text-xl font-semibold text-red-500 mb-3 rounded-full bg-red-100 px-4 py-2 inline-block">
        <%= @positive_word.word %>
      </h4>

    <% if user_signed_in? %>
      <div class="bg-gray-50 px-6 py-3 flex justify-end items-center space-x-3 border-t border-gray-200 rounded-b-xl">
        <%= link_to edit_userpage_path(@positive_word.id), class: "px-1 py-1 text-sm text-gray-700 hover:underline" do %>
            <i class="bi bi-pencil-fill mr-1"></i> 編集
        <% end %>

        <%= button_to userpage_path(@positive_word.id), method: :delete, form: { data: { turbo: false } }, class: "px-2 py-2 text-sm text-red-600 hover:underline" do %>
           <i class="bi bi-trash-fill mr-1 text-red-500 hover:text-red-700"></i> 削除
        <% end %>

        <button class="px-1 py-1 text-sm text-gray-700 hover:underline copy-button" data-word="<%= @positive_word.word %>">
           <i class="bi bi-copy mr-1 text-blue-500 mr-1 hover:text-blue-700"></i> コピー
        </button>

        <!-- LINEシェア -->
        <a href="https://social-plugins.line.me/lineit/share?url=<%= ERB::Util.url_encode(userpage_url(@positive_word)) %>"
          target="_blank" rel="noopener" class="text-white hover:text-white">
          <img 
            src="<%= asset_path('btn_base.png') %>" 
            alt="LINEでシェア" 
            style="height: 20px;" 
            onmouseover="this.src='<%= asset_path('btn_hover.png') %>'" 
            onmouseout="this.src='<%= asset_path('btn_base.png') %>'" />
        </a>

        <!-- X（旧Twitter）シェア -->
        <%= link_to "https://twitter.com/share?url=#{ERB::Util.url_encode(userpage_url(@positive_word))}&text=#{ERB::Util.url_encode("【#{@positive_word.word}】")}", 
            target: '_blank', 
            rel: 'noopener', 
            class: "text-black hover:text-gray-500" do %>
          <i class="bi bi-twitter-x"></i>
        <% end %>

      </div>
    <% end %>
    <div class="mt-8 flex justify-center">
      <%= link_to "戻る", userpages_path, class: 'text-center text-gray-500 hover:text-gray-700 hover:underline text-lg block' %>
    </div>
  </div>
</div>
