<% content_for :title, "ログイン" %>

<div class="sm:mx-auto sm:w-full sm:max-w-lg">
  <h2 class="mt-2 text-center text-2xl sm:text-3xl font-bold tracking-tight text-gray-900">ログイン</h2>
</div>

<div class="sm:mx-auto sm:w-full sm:max-w-lg">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mt-4">
      <%= f.label :email, "メールアドレス", class: "block text-lg sm:text-xl font-medium text-gray-900" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 focus:outline-indigo-600" %>
    </div>

    <div class="mt-4">
      <%= f.label :password, "パスワード", class: "block text-lg sm:text-xl font-medium text-gray-900" %>
      <%= f.password_field :password, autocomplete: "current-password", required: true, class: "mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 focus:outline-indigo-600" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mt-4 flex items-center">
        <%= f.check_box :remember_me, class: "h-6 w-6 text-indigo-600 border-gray-300 rounded" %>
        <%= f.label :remember_me, "ログイン情報を保持する", class: "ml-2 text-lg sm:text-xl text-gray-900" %>
      </div>
    <% end %>

    <div class="mt-6">
      <%= f.submit "ログイン", class: "flex w-full justify-center rounded-md bg-indigo-600 px-4 py-2 text-base font-semibold text-white shadow-xs hover:bg-indigo-500 focus:outline-2 focus:outline-indigo-600" %>
    </div>

    <div class="mt-2 text-center text-base sm:text-lg text-gray-500">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>