<% content_for :title, "ログイン" %>

  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden p-8">
    <h2 class="text-center text-2xl sm:text-3xl font-semibold tracking-tight text-blue-600 mb-6">
    ログイン
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :email, "メールアドレス", class: "block text-lg sm:text-xl font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "mt-2 block w-full rounded-full bg-white px-4 py-3 text-base text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>

      <div>
        <%= f.label :password, "パスワード", class: "block text-lg sm:text-xl font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "current-password", required: true, class: "mt-2 block w-full rounded-full bg-white px-4 py-3 text-base text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-4 flex items-center">
          <%= f.check_box :remember_me, class: "h-5 w-5 text-blue-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, "ログイン情報を保持する", class: "ml-2 text-lg sm:text-xl text-gray-700" %>
        </div>
      <% end %>

      <div>
        <%= f.submit "ログイン", class: "w-full flex justify-center rounded-full bg-blue-500 px-4 py-3 text-base font-semibold text-white shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300" %>
      </div>
    <% end %>

      <div class="mt-2 text-center text-base sm:text-lg text-gray-600">
        <%= render "devise/shared/links",
            resource_name: :user,
            devise_mapping: Devise.mappings[:user],
            resource_class: User %>
      </div>
      </div>

  </div>
</div>