<% set_meta_tags title: "みんなのポジほめワード" %>
<div class="mt-8 flex items-center justify-center px-4">
  <div class="max-w-3xl w-full bg-white rounded-2xl shadow-lg overflow-hidden">
    <div class="bg-red-100 py-4 px-6 rounded-t-2xl border-b border-red-200">
      <div class="flex justify-center space-x-2 mt-4 mb-4">
        <div class="bg-red-200 text-red-500 text-md font-semibold px-4 py-2 rounded-full shadow-sm flex items-center">
          <i class="bi bi-share-fill mr-2"></i> 共有する
        </div>
        <%= link_to page_path('how_to_use/posts'), rel: "noopener", class: "text-red-600 hover:text-red-700 mt-1", title: "みんなのポジほめワードの使い方" do %>
          <i class="bi bi-question-circle-fill text-xl"></i>
        <% end %>
      </div>

      <div class="items-center mb-4 space-x-2">      
        <h1 class="text-2xl font-bold text-red-600 text-center">
          みんなのポジほめワード
        </h1>
      </div>  

      <p class="text-md text-gray-700 text-center">
        日々の素敵な発見や、
      </p>      
      <p class="text-md text-gray-700 text-center">  
        心を明るくする言葉をシェアしよう
      </p>
    </div>

    <div class="p-6">
      <%= render 'search', q: @q, url: posts_path, autocomplete_url: autocomplete_posts_path %>

      <div class="mt-6 flex flex-col sm:flex-row justify-center sm:space-x-4 space-y-4 sm:space-y-0">
        <%= link_to "★お気に入り", favorites_posts_path,
          class: 'inline-flex items-center justify-center text-lg font-semibold text-yellow-600 bg-yellow-200 hover:bg-yellow-300 px-6 py-3 mr-1 rounded-full shadow-sm transition duration-200' %>

        <%= link_to "+ 新規投稿", new_post_path,
          class: 'inline-flex items-center justify-center text-lg font-bold text-white bg-red-400 hover:bg-red-500 px-6 py-3 rounded-full shadow-md transition duration-200' %>
      </div>

      <div class="mt-8">
        <% if @posts.present? %>
          <%= render partial: 'posts/posts_list', locals: { posts: @posts } %>
        <% else %>
          <p class="text-gray-600 italic text-center">まだ投稿はありません。</p>
        <% end %>
      </div>
    </div>      
  </div>
</div>
