<%= content_for :title, "投稿ページ" %>

<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
  <h2 class="text-center text-3xl font-semibold text-yellow-600 mb-8">
    みんなのポジほめワード
  </h2>
  
  <%= render 'search' %>
  
  <%= link_to "+ 新規投稿", new_post_path, class: 'block text-right text-3xl font-bold text-blue-500 hover:text-blue-700 hover:underline' %>

  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div id="post-id-<%= post.id %>">
        <h4 class="text-lg font-semibold text-gray-700">
          <%= link_to post.post_word, post_path(post) %>
        </h4>
         <p><%= post.caption %></p>
         <%= post.user.username %>
         <%= l post.created_at, format: :short %>
      </div>
    <% end %>
    <% else %>
     <p>投稿はありません</p>
    <% end %>

  <div class="mt-8 space-y-4">
    <%= link_to "トップページに戻る", root_path, class: 'block text-center text-lg font-semibold text-blue-500 hover:text-blue-700 hover:underline' %>
    <%= link_to "ポジティブワードを作ろう", new_ai_message_path, class: 'block text-center text-lg font-semibold text-blue-500 hover:text-blue-700 hover:underline' %>
    <%= link_to "メッセージを振り返る(ユーザーページ)", userpages_path, class: 'text-lg text-blue-500 font-semibold hover:text-blue-700 hover:underline' %>
    <div class="flex justify-center space-x-4 mt-6">
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'text-sm font-medium text-white bg-red-500 hover:bg-red-600 px-6 py-3 rounded-full shadow-md' %>
    </div>
  </div>
</div>
