<%= content_for :title, "お気に入り登録ページ" %> 

<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
  <h2 class="text-center text-3xl font-semibold text-yellow-600 mb-8">
    お気に入り登録ワード一覧：<span class="text-pink-500"><%= @post_favorites_count %></span> 個
  </h2>
  
  <%= render 'search', q: @q, url: favorites_posts_path %>
  
  <% if @post_favorites.present? %>
    <%= render partial: 'posts/card', collection: @post_favorites, as: :post %>
    <%= paginate @post_favorites %>
    <% else %>
      <p class="text-center text-lg text-gray-600 py-8">お気に入り登録はありません</p>
    <% end %>
</div>